html {
    /* font-family: "Helvetica", "Calibri", "Arial", "sans-serif"; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body h1 {
    color: black;
    text-align: center;
}

body h2, h3, h4 {
    line-height: 0px;
}

body h2 {
   font-size: 42px;
}

body h3 {
   font-size: 24px;
}

body h3, h4 {
    font-family: "Calibri";
    font-weight: lighter;
}

body p {
    color: black;
    font-size: 18px;
    margin-left: 24px;
    margin-right: 24px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 90%;
    margin: 0 auto;
    border:1px solid #D3D3D3;
    border-radius: 3px;
}

tbody {
    border-radius: 3px;
}

th {
    font-weight: bold;
    border: 0;
}

th, td {
    padding: 8px;
    text-align:center;
    border: 0;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
}

tr {
    border: 0;
    border-left: 1px solid red;
    /* border-bottom: 1px solid #ddd; */
}

table td:hover, tr:hover {
    background: #f5f5f5;
}

/* Colour coding will be done according to class name */
.lec {
    border-left: 1px solid red;
}

.under {
    border-bottom: 1px dashed #999;
    text-decoration: none;
}

hr {
    margin-top: 20px;
    max-width: 80%;
}