html {
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    /* background-color: #1976d2; */
}

body h1 {
    color: black;
    text-align: center;
}

body h2, h3, h4 {
    line-height: 0px;
}

body h2 {
   font-size: 48px;
}

body h3 {
   font-size: 24px;
}

body h3, h4 {
    font-family: "Calibri";
    font-weight: lighter;
}

body p {
    color: black;
    font-size: 18px;
    margin-left: 24px;
}

table {
    border-spacing: 0;
    width: 90%;
    margin: 0 auto;
    border:1px solid #D3D3D3;
    border-radius: 3px;
}

tbody {
    border-radius: 3px;
}

th {
    font-weight: bold;
    border: 0;
}

th, td {
    padding: 8px;
    text-align:center;
    border: 0;
    border-bottom: 1px solid #ddd;
}

tr {
    border: 0;
    /* border-bottom: 1px solid #ddd; */
}

td {
    background-color: white;
}

td:hover {background-color: #f5f5f5}
